<div class="note-tile">
  <div class="note-actions">
    @if (!showConfirmation) {
    <button mat-icon-button class="delete-icon" (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
    </button>
    } @else {
    <button
      mat-icon-button
      class="confirm-icon"
      matTooltip="Confirm delete"
      (click)="onConfirmDelete()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-icon-button
      class="cancel-icon"
      matTooltip="Cancel delete"
      (click)="onCancelDelete()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    }
  </div>
  <h3>{{ note.title }}</h3>
  <p>{{ note.content }}</p>
</div>
