<section class="tabs-control">
  <div
    [matTooltip]="
      !(isLoggedIn$ | async) ? 'Login to add new tab' : 'Add new tab'
    "
    [matTooltipPosition]="'above'"
  >
    <button
      mat-raised-button
      class="example-add-tab-button"
      (click)="addTab()"
      [disabled]="!(isLoggedIn$ | async) || (tabsLoading$ | async)"
    >
      Add new tab @if ((tabsLoading$ | async)){
      <mat-spinner [diameter]="16"></mat-spinner>
      }
    </button>
  </div>
</section>

<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
  [animationDuration]="'0ms'"
>
  @if (isLoggedIn$ | async) { @for (tab of (tabs$ |async); track tab.id; let
  index = $index) {
  <mat-tab [label]="tab.title">
    <div class="tabs-control">
      <button
        mat-raised-button
        class="example-delete-tab-button"
        (click)="removeTab(tab.id!)"
        [disabled]="(tabsLoading$ | async) || !(tabsValidRemove$ | async)"
      >
        Delete Tab
      </button>
    </div>
    Contents for {{ tab }} tab
  </mat-tab>
  } } @else {

  <mat-tab>
    <div class="login-tab">
      <button
        mat-raised-button
        class="example-delete-tab-button"
        (click)="onOpenLogin()"
      >
        Open Login Dialog
      </button>
    </div>
  </mat-tab>

  }
</mat-tab-group>
