.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}
.tabs-control {
  display: flex;
  justify-content: flex-end;
}
.login-tab {
  display: flex;
  justify-content: center;
}
