<div class="main-container">
  <div class="tab-controls">
    <app-add-new-tab></app-add-new-tab>
  </div>

  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="setSelectedTab($event)"
    [animationDuration]="'0ms'"
  >
    @if (isLoggedIn$ | async) { @for (tab of (tabs$ |async); track tab.id; let
    index = $index) {
    <mat-tab [label]="tab.title">
      <div class="tab-controls">
        <button
          mat-raised-button
          class="button"
          (click)="removeTab(tab.id!)"
          [disabled]="(tabsLoading$ | async) || !(tabsValidRemove$ | async)"
        >
          Delete Tab
        </button>
      </div>
      <app-notes-content [tabId]="selectedTabId.value!"></app-notes-content>
    </mat-tab>
    } } @else {

    <mat-tab>
      <div class="login-tab">
        <button mat-raised-button class="button" (click)="onOpenLogin()">
          Open Login Dialog
        </button>
      </div>
    </mat-tab>

    }
  </mat-tab-group>
</div>
