<div class="add-note-form-container">
  <form
    [formGroup]="noteForm"
    (ngSubmit)="addNote()"
    (click)="activateForm()"
    class="note-form"
    [class.active]="isFormActive"
  >
    @if (isFormActive) {
    <input
      type="text"
      formControlName="title"
      placeholder="Title"
      class="note-title-input"
    />
    }
    <textarea
      formControlName="content"
      placeholder="Take a note..."
      class="note-content-input"
    ></textarea>
    @if (isFormActive) {
    <button type="submit" [disabled]="!noteForm.valid" class="add-note-button">
      Add Note
    </button>
    }
  </form>
</div>

<div class="notes-grid">
  @if((notes$ | async); as notes) { @if(notes.length > 0) { @for (note of notes;
  track note.id) {
  <app-note
    [note]="note"
    (deleteNote)="onDeleteNote($event)"
    (updateNote)="onUpdateNote($event)"
  ></app-note>
  } } @else {
  <p>No notes found for this tab.</p>
  } } @else {
  <p>Loading notes...</p>
  }
</div>
