.navigation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  .user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .nav-links {
    display: flex;
  }
}
