<nav class="navigation">
  <li class="nav-links">
    <a
      *ngFor="let page of pages"
      mat-button
      [title]="page.name"
      [routerLink]="[page.link]"
      >{{ page.name }}
    </a>
  </li>
  <div class="user-container">
    @if(isLoggedIn$ | async) {
    <p>hello {{ userEmail$ | async }}</p>
    }
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu" ngSkipHydration>
    @if(isLoggedIn$ | async){
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>
    } @else {

    <button mat-menu-item (click)="onOpenRegister()">
      <mat-icon>dialpad</mat-icon>
      <span>Register</span>
    </button>
    <button mat-menu-item (click)="onOpenLogin()">
      <mat-icon>voicemail</mat-icon>
      <span>Login</span>
    </button>

    }
  </mat-menu>
</nav>
